{% extends "2016/frontpage.html" %}

{% block subtitle %}{{ article.title }}{% endblock %}

{% block body %}
  <div class="wrapper">
      <h1>Programa</h1>

      <div class="full-box">
          <div class="time">11:00</div>
          <div class="topic">Pradžia. Įdarbinimo sesija.</div>
      </div>

      <div class="half-box speaker-box">
          <img src="/media/2016/trymas.jpg">
          <div class="time">11:30</div>
          <div class="speaker">Justas Trimailovas</div>
          <div class="topic"><a href="https://www.youtube.com/watch?v=FMu1k3W8jY4" target="_blank">Django Channels</a></div>
      </div>
      <div class="half-box speaker-box">
          <img src="/media/2016/yvl.jpg">
          <div class="time">12:00</div>
          <div class="speaker">Justas Sadzevičius</div>
          <div class="topic"><a href="https://www.youtube.com/watch?v=2MFUqU4kl1I" target="_blank">crossbar.io - lengvasvorės komunikacijos serveriams, naršyklėms, mobiliems įrenginiams ir daiktų internetui</a></div>
      </div>

      <div class="full-box">
          <div class="time">12:30 (15 min.)</div>
          <div class="topic">Pertrauka.</div>
      </div>

      <div class="half-box speaker-box">
          <img src="/media/2016/tomas.jpg">
          <div class="time">12:45</div>
          <div class="speaker">Tomas Mikelskas</div>
          <div class="topic"><a href="https://www.youtube.com/watch?v=f6ktslVMgJQ" target="_blank">Duomenų denormalizavimas Django projektuose panaudojant DB trigerius</a></div>
      </div>
      <div class="half-box speaker-box">
          <img src="/media/2016/rokas.jpg">
          <div class="time">13:15</div>
          <div class="speaker">Rokas Aleksiūnas</div>
          <div class="topic"><a href="https://www.youtube.com/watch?v=S7-94GE6l-E" target="_blank">Python mikroservisuose</a></div>
      </div>

      <div class="full-box">
          <div class="time">13:45 (1:30 val.)</div>
          <div class="topic">Pietų pertrauka.</div>
      </div>

      <div class="half-box speaker-box">
          <img src="/media/2016/petras.png">
          <div class="time">15:15</div>
          <div class="speaker">Petras Zdanavičius</div>
          <div class="topic"><a href="https://www.youtube.com/watch?v=CmcaRvEbexc" target="_blank">LISP interpretatorius su Python PLY</a></div>
      </div>
      <div class="half-box speaker-box">
          <img src="/media/2016/dalius.jpg">
          <div class="time">15:45</div>
          <div class="speaker">Dalius Dobravolskas</div>
          <div class="topic"><a href="https://www.youtube.com/watch?v=OJPOB5GbWRc" target="_blank">Python naudojimas fotografijoje</a></div>
      </div>

      <div class="full-box">
          <div class="time">16:15 (15 min.)</div>
          <div class="topic">Petrauka.</div>
      </div>

      <div class="half-box speaker-box">
          <img src="/media/2016/mantas.jpg">
          <div class="time">16:30</div>
          <div class="speaker">Mantas Zimnickas</div>
          <div class="topic"><a href="https://www.youtube.com/watch?v=pN_NCjqjeEM" target="_blank">py.test</a></div>
      </div>
      <div class="half-box speaker-box">
          <img src="/media/2016/vaidas.jpg">
          <div class="time">17:00</div>
          <div class="speaker">Vaidas Pilkauskas</div>
          <div class="topic">TDD ir algoritmai</div>
      </div>

      <div class="full-box">
          <div class="time">17:30</div>
          <div class="topic">
              <h2>Greitųjų pranešimų sesija</h2>
              <p>Savo greitąjį pranešimą galėsite užsirašyti renginio metu, ant
              lentos. Vieno greitojo pranešimo truktmė ne ilgiau, kaip 5
              minutės.</p>
          </div>
      </div>

      <div class="half-box speaker-box">
          <img src="http://www.gravatar.com/avatar/f00453c5ccee98e445b7867b0d8a2fbd.jpg?s=80">
          <div class="time">17:30</div>
          <div class="speaker">Laurynas Speičys</div>
          <div class="topic"><a href="https://www.youtube.com/watch?v=lnf2K3_A1dc" target="_blank">Python darbo vietos Lietuvoje</a></div>
      </div>

      <div class="full-box">
          <div class="time">18:00</div>
          <div class="topic">Pabaiga.</div>
      </div>


      <div class="extra-space"></div>
      <h1>Informacija apie renginį</h1>

      <p>Konferencija vyks 2016 m. gegužės 7 d., <a href="http://mif.vu.lt/">Vilniaus
      Universiteto Matematikos ir Informatikos fakultete</a>, Naugarduko g. 24,
      103 auditorija, Vilnius.</p>

      <p>Konferencija prasideda 11:00, baigiasi 17:30. Įėjimas nemokamas.
      Konferencija vyks lietuvių kalba.</p>

      <iframe width="890" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=25.27021765708923%2C54.67360763073661%2C25.27706265449524%2C54.67635891061495&amp;layer=mapnik&amp;marker=54.6749817430874%2C25.273640155792236" style="border: 1px solid black"></iframe>

      <p>Norėdami užtikrinti sklandžią konferencijos eigą, dalyvių ir pranešėjų
      prašome laikytis <a href="/elgesio-kodeksas.html">elgesio kodekso</a>.</p>

      <div class="extra-space"></div>

      <h1>Rėmėjai</h1>

      <div class="sponsors">
          <a href="http://revelsystems.com/lt/" target="_blank"><img src="/images/revel-logo.png"></a>
      </div>

      <div class="extra-space"></div>

      <div class="sponsors">
          <a href="http://s3i.strategicstaff.com/" target="_blank"><img src="/images/sss-logo.png"></a>
          <a href="http://pov.lt/" target="_blank"><img src="/images/pov-logo.jpg"></a>
      </div>

      <div class="extra-space"></div>

      <div class="sponsors">
          <a href="https://www.hbee.eu/" target="_blank"><img src="/images/hbee-bronze-logo.png"></a>
          <a href="http://aster.is/" target="_blank"><img src="/images/asteris-logo.png"></a>
      </div>

      <!--h2>Tapkite konferencijos rėmėju</h2>

      <p>Tapkite mūsų parteriais ir būkite matomas konferencijos metu su
      vienu iš siūlomų rėmimo paketu.</p>

      <p>&nbsp;</p>

      <p><a class="btn" href="/2016/sponsorship.html">Rėmimo paketai</a></p-->

      <div class="extra-space"></div>
      <h1>Kiti renginiai</h1>

      <div class="half-box">
          <h2>VilniusPy</h2>
          <p>Reguliarus renginys vykstantis kas mėnesį, darbo dieną, vakare po
          darbo.</p>
          <p>Daugiau informacijos: <a href="http://vilniuspy.lt" target="_blank">vilniuspy.lt</a>.</p>
      </div>

      <a name="bendruomene"></a>
      <div class="extra-space"></div>
      <h1><a href="#bendruomene">Python programuotojų bendruomenė internete</a></h1>

      <div class="half-box">
          <h2>Forumas</h2>
          <p><a href="https://python.lt/">python.lt / Python forumas</a></p>
      </div>
      <div class="half-box">
          <h2>Google+ grupė</h2>
          <p><a href="https://plus.google.com/communities/108018939812342947290">plus.google.com / Python Lietuva</a></p>
      </div>
      <div class="half-box">
          <h2>El. pašto grupė</h2>
          <p><a href="https://www.konferencijos.lt/mailman/listinfo/python">konf.lt / Python</a></p>
      </div>
  </div>
{% endblock %}
