{% extends "2016/base.html" %}

{% block subtitle %}{{ article.title }}{% endblock %}

{% block header %}
<div class="wrapper">
    <div class="pylogo">
        <div class="pyconlt-year">2016</div>
        <a href="http://python.org" target="_blank">
            <!-- http://upload.wikimedia.org/wikipedia/en/thumb/0/06/Python_logo.svg/200px-Python_logo.svg.png -->
            <img id="pycon-logo"
                src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/2015/img/pyconlt_logo_color3.png"
                alt="PyConLT logo"/>
        </a>
        <div class="tagline">{% block tagline %}Gegužės 7 d. 11:00, VU MIF 103 auditorija, Vilnius.{% endblock %}</div>
    </div>

    <div class="registration-line"><a href="https://docs.google.com/forms/d/1LJnbwS69eQw9n3pvayVVJGpdRQMyacBa1zbTUI6FAlk/viewform" class="registration-button" target="_blank">Registruotis</a></div>
</div>
{% endblock %}

{% block body %}
  <div class="wrapper">
    <h1>{{ page.title }}</h1>

    {% block content %}
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    <div class="page">
    {{ page.content }}
    </div>
    {% endblock %}
  </div>
{% endblock %}
