{% extends "2018/frontpage.html" %}

{% block subtitle %}{{ article.title }}{% endblock %}

{% block body %}
  <div class="wrapper">
      <p>Informacija ruošiama.</p>

      <div class="extra-space"></div>

      <h1><a href="#renginiai" name="renginiai">Kiti renginiai</a></h1>

      <div class="half-box">
          <h2>VilniusPy</h2>
          <p>Reguliarus renginys vykstantis kas mėnesį, darbo dieną, vakare po
          darbo.</p>
          <p>Daugiau informacijos: <a href="http://vilniuspy.lt" target="_blank">vilniuspy.lt</a>.</p>
      </div>

      <div class="half-box">
          <h2>KaunasPy</h2>
          <p>Python programuotojų susitikimai Kaune.</p>
          <p>Daugiau informacijos: <a href="https://www.meetup.com/KaunasPy/" target="_blank">meetup.com/KaunasPy</a>.</p>
      </div>


      <div class="extra-space"></div>

      <h1><a href="#bendruomene" name="bendruomene">Python programuotojų bendruomenė internete</a></h1>

      <div class="half-box">
          <h2>Google+ grupė</h2>
          <p><a href="https://plus.google.com/communities/108018939812342947290" target="_blank">plus.google.com / Python Lietuva</a></p>
      </div>
      <div class="half-box">
          <h2>Facebook grupė</h2>
          <p><a href="https://www.facebook.com/groups/302121470208794/"
              target="_blank">facebook.com / Python Lietuva</a></p>
      </div>
      <div class="half-box">
          <h2>El. pašto grupė</h2>
          <p><a href="https://www.konferencijos.lt/mailman/listinfo/python" target="_blank">konf.lt / Python</a></p>
      </div>
      <div class="half-box">
          <h2>Django Lietuvoje</h2>
          <p><a href="https://www.facebook.com/groups/973463996100454/" target="_blank">Facebook grupė</a></p>
      </div>
      <div class="half-box">
          <h2>Forumas</h2>
          <p><a href="https://python.lt/" target="_blank">python.lt / Python forumas</a></p>
      </div>
      <div class="half-box">
          <h2>IRC kanalas</h2>
          <p><a href="http://irc.lc/freenode/python-lt" target="_blank">Freenode / #python-lt</a></p>
      </div>
      <div class="half-box">
          <h2>Telegram grupė</h2>
          <p><a href="https://t.me/joinchat/Fh7S-A5GuGhd09WZA-nidw" target="_blank">python-lt</a></p>
      </div>

  </div>
{% endblock %}
