{% extends "2017/frontpage.html" %}

{% block subtitle %}{{ article.title }}{% endblock %}

{% block body %}
  <div class="wrapper">
      <h1><a href="#programa" name="programa">Programa</a></h1>

      {% set timetable = Timetable(10) %}

      <div class="full-box">
          <div class="time">{{ timetable(60) }}</div>
          <div class="topic">Dalyvių registracija.</div>
      </div>

      <div class="full-box">
          <div class="time">{{ timetable(10) }}</div>
          <div class="topic">Renginio atidarymas.</div>
      </div>

      <div class="half-box speaker-box">
          <img src="/media/2017/andrew-svetlov.jpg">
          <div class="time">{{ timetable(30) }}</div>
          <div class="speaker">Andrew Svetlov</div>
          <div class="topic">Making Open Source libraries<br><em title="Pranešimas anglų kalba.">anglų k.</em></div>
      </div>

      <div class="half-box speaker-box">
          <img src="/media/2017/rivo.png">
          <div class="time">{{ timetable(30) }}</div>
          <div class="speaker">Rivo Laks</div>
          <div class="topic">Django, React and Webpack<br><em title="Pranešimas anglųkalba.">anglų k.</em></div>
      </div>

      <div class="full-box">
          <div class="time">{{ timetable(15) }} (15 min.)</div>
          <div class="topic">Pertraukėlė.</div>
      </div>

      <div class="half-box speaker-box">
          <img src="/media/2016/mantas.jpg">
          <div class="time">{{ timetable(25) }}</div>
          <div class="speaker">Mantas Zimnickas</div>
          <div class="topic">import antigravity<br><em title="Pranešimas lietuvių kalba.">lietuvių k.</em></div>
      </div>

      <div class="half-box">
          <div class="time">{{ timetable(10) }}</div>
          <div class="topic">Greitųjų pranešimų sesija</div>
      </div>
      <div class="half-box">
          <div class="time">{{ timetable(15) }}</div>
          <div class="topic">Įdarbinimo sesija</div>
      </div>

      <div class="full-box">
          <div class="time">{{ timetable(60) }} (60 min.)</div>
          <div class="topic">Pietų pertrauka.</div>
      </div>

      <div class="half-box speaker-box">
          <img src="/media/2017/irmantas.jpg">
          <div class="time">{{ timetable(25) }}</div>
          <div class="speaker">Irmantas Ramoška</div>
          <div class="topic">Run Your Pyramid Application on Production Server<br><em title="Pranešimas anglų kalba.">anglų k.</em></div>
      </div>
      <div class="half-box speaker-box">
          <img src="/media/2017/simona.png">
          <div class="time">{{ timetable(15) }}</div>
          <div class="speaker">Simona Bekeraitė</div>
          <div class="topic">Python in astrophysics: an overview<br><em title="Pranešimas anglų kalba.">anglų k.</em></div>
      </div>

      <div class="full-box">
          <div class="time">{{ timetable(15) }} (15 min.)</div>
          <div class="topic">Pertraukėlė.</div>
      </div>

      <div class="half-box speaker-box">
          <img src="/media/2016/petras.png">
          <div class="time">{{ timetable(25) }}</div>
          <div class="speaker">Petras Zdanavičius</div>
          <div class="topic">Prototipinio OOP įgyvendinimas su Python<br><em title="Pranešimas lietuvių kalba.">lietuvių k.</em></div>
      </div>
      <div class="half-box speaker-box">
          <img src="/media/2016/yvl.jpg">
          <div class="time">{{ timetable(25) }}</div>
          <div class="speaker">Justas Sadzevičius</div>
          <div class="topic">Transakcinis Python objektų saugojimas Mongo DB, PostgreSQL, failų sistemoje<br><em title="Pranešimas lietuvių kalba.">lietuvių k.</em></div>
      </div>

      <div class="half-box speaker-box">
          <img src="/media/2017/sarunas.jpg">
          <div class="time">{{ timetable(25) }}</div>
          <div class="speaker">Šarūnas Navickas</div>
          <div class="topic">Duomenų apdorojimas naudojant Python dideliu mastu<br><em title="Pranešimas lietuvių kalba.">lietuvių k.</em></div>
      </div>
      <div class="half-box speaker-box">
          <img src="/media/2017/karolis.jpg">
          <div class="time">{{ timetable(25) }}</div>
          <div class="speaker">Karolis Kalantojus</div>
          <div class="topic">Odoo Connector<br><em title="Pranešimas lietuvių kalba.">lietuvių k.</em></div>
      </div>
      <div class="full-box">
          <div class="time">{{ timetable(0) }}</div>
          <div class="topic">Renginio uždarymas</div>
      </div>

      <div class="extra-space"></div>
      <h1><a href="#praktiniai-užsiėmimai" name="praktiniai-užsiėmimai">Praktiniai užsiėmimai</a></h1>

      <p>Po pietų pertraukos planuojami praktiniai užsiėmimai, norintiems
      susipažinti su:</p>

      <ul>
          <li>Python pagrindais bei idiomomis  </li>
          <li><a href="https://www.djangoproject.com/" target="_blank">Django</a>
              (svetainių kūrimu)</li>
          <li>duomenų analize su
              <a href="http://pandas.pydata.org/" target="_blank">Pandas</a></li>
          <li>mašininiu mokymusi su
              <a href="https://www.scikit-learn.org/" target="_blank">scikit-learn</a>
              (jei atsiras mentorių)</li>
      </ul>

      <p><strong>Registracija</strong> į praktinius užsiėmimus:
          <a href="https://goo.gl/forms/HfVxreGzrH2YVdAx1" target="_blank">dalyviams</a>,
          <a href="https://goo.gl/forms/R2Sq2ixZy87MjWVE3" target="_blank">mentoriams</a>.</p>

      <p>Jei turite klausimų ar pasiūlymų dėl praktinių užsiėmimų:
      <a href="mailto:jurgis.pralgauskis@gmail.com" target="_blank">jurgis.pralgauskis@gmail.com</a>
      ar <em>861677613</em>.</p>


      <div class="extra-space"></div>
      <h1><a href="#informacija" name="informacija">Informacija apie renginį</a></h1>

      <p>Po aštuonių metų pertraukos PyConLT grįžta į Kauną!</p>

      <p>Konferencija vyks 2017 m. gegužės 13 d., Kaune.</p>

      <p><strong>Informacija važiuojantiems iš Vilniaus</strong></p>

      <table class="table">
          <tbody>
              <tr>
                  <th>09:30</th>
                  <td>traukinys <a href="https://www.traukiniobilietas.lt/portal/tickets?departure=2400000&departureDate=2017-05-13&departureTime=09:30&arrival=2400440&routeDirectionType=FORTH" target="_blank">išvažiuoja iš Vilniaus</a></td>
              </tr>
              <tr>
                  <th>10:39</th>
                  <td>traukinys atvažiuoja į Kauną</td>
              </tr>
              <tr>
                  <th>11:00</th>
                  <td>
                      <a href="http://stops.lt/kaunas/#stop/377" target="_blank">
                      5, 7, 13, 16 troleibusas važiuoja</a> į santakos slėnį
                      (į Breslaujos st.), reikia važiuoti Islandijos&nbsp;pl.,
                      Petrašiūnų, Partizanų&nbsp;g.  kryptimi.
                  </td>
              </tr>
              <tr>
                  <th>18:00</th>
                  <td>
                      <a href="http://stops.lt/kaunas/#stop/369" target="_blank">
                      5, 7, 14, 15 troleibusas važiuoja</a> į traukinių stotį
                      (iš Breslaujos st.), reikia važiuoti Varnių&nbsp;g., Kaniūkų,
                      Centro kryptimi.
                  </td>
              </tr>
              <tr>
                  <th>18:45</th>
                  <td>traukinys <a href="https://www.traukiniobilietas.lt/portal/tickets?departure=2400440&departureDate=2017-05-13&departureTime=18:45&arrival=2400000&routeDirectionType=FORTH" target="_blank">išvažiuoja iš Kauno</a></td>
              </tr>
              <tr>
                  <th>19:54</th>
                  <td>traukinys atvažiuoja į Vilnių</td>
              </tr>
          </tbody>
      </table>

      <iframe width="890" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=23.95695984363556%2C54.89855395595545%2C23.965918421745304%2C54.901413352152424&amp;layer=mapnik&amp;marker=54.899983679434214%2C23.96143913269043" style="border: 1px solid black"></iframe>

      <p>Norėdami užtikrinti sklandžią konferencijos eigą, dalyvių ir pranešėjų
      prašome laikytis <a href="/elgesio-kodeksas.html">elgesio kodekso</a>.</p>

      <div class="extra-space"></div>

      <h1><a href="#remejams" name="remejams">Tapkite konferencijos rėmėju</a></h1>

      <p>Tapkite mūsų parteriais ir būkite matomas konferencijos metu su
      vienu iš siūlomų rėmimo paketu.</p>

      <p>&nbsp;</p>

      <p><a class="btn" href="/2017/sponsorship.html">Rėmimo paketai</a></p>

      <div class="extra-space"></div>

      <h1><a href="#remejai" name="remejai">Rėmėjai</a></h1>

      <div class="sponsors">
          <a href="http://revelsystems.com/lt/" target="_blank"><img src="/images/revel-logo.png" title="Revel Systems"></a>
      </div>

      <div class="extra-space"></div>

      <div class="sponsors">
          <a href="https://www.versada.eu/" target="_blank"><img src="/images/versada-silver-logo.jpg" title="Versada"></a>
          <a href="http://pov.lt/" target="_blank"><img src="/images/pov-logo.jpg" title="Programmers of Vilnius"></a>
          <a href="http://nivc.ktu.edu/slt.htm" target="_blank"><img src="/images/KTU-Startup-space-silver-logo.jpg" title="KTU Startup Space"></a>
          <a href="http://s3i.strategicstaff.com/" target="_blank"><img src="/images/sss-logo.png" title="Strategic Staffing Solutions International"></a>
      </div>

      <div class="extra-space"></div>

      <div class="sponsors">
          <a href="https://www.oreilly.com/" target="_blank"><img src="/images/oreilly.png" title="O'Reilly"></a>
          <a href="https://www.jetbrains.com/" target="_blank"><img src="/images/jetbrains.png" title="JetBrains"></a>
      </div>
      <div class="sponsors">
          <a href="https://www.pythonanywhere.com/" target="_blank"><img src="/images/PA-logo.png" title="Python Anywhere"></a>
      </div>

      <div class="extra-space"></div>

      <p><a class="btn" href="/2017/sponsors.html">Apie rėmėjus</a></p>

      <div class="extra-space"></div>

      <h1><a href="#renginiai" name="renginiai">Kiti renginiai</a></h1>

      <div class="half-box">
          <h2>VilniusPy</h2>
          <p>Reguliarus renginys vykstantis kas mėnesį, darbo dieną, vakare po
          darbo.</p>
          <p>Daugiau informacijos: <a href="http://vilniuspy.lt" target="_blank">vilniuspy.lt</a>.</p>
      </div>

      <div class="half-box">
          <h2>Django Girls</h2>
          <p>Sukurk savo pirmąjį interneto tinklalapį Django Girls renginyje Kaune!</p>
          <p>Daugiau informacijos: <a href="https://djangogirls.org/kaunas/" target="_blank">djangogirls.org/kaunas/</a>.</p>
      </div>

      <h1><a href="#bendruomene" name="bendruomene">Python programuotojų bendruomenė internete</a></h1>

      <div class="half-box">
          <h2>Google+ grupė</h2>
          <p><a href="https://plus.google.com/communities/108018939812342947290" target="_blank">plus.google.com / Python Lietuva</a></p>
      </div>
      <div class="half-box">
          <h2>Facebook grupė</h2>
          <p><a href="https://www.facebook.com/groups/302121470208794/"
              target="_blank">facebook.com / Python Lietuva</a></p>
      </div>
      <div class="half-box">
          <h2>El. pašto grupė</h2>
          <p><a href="https://www.konferencijos.lt/mailman/listinfo/python" target="_blank">konf.lt / Python</a></p>
      </div>
      <div class="half-box">
          <h2>Django Lietuvoje</h2>
          <p><a href="https://www.facebook.com/groups/973463996100454/" target="_blank">Facebook grupė</a></p>
      </div>
      <div class="half-box">
          <h2>Forumas</h2>
          <p><a href="https://python.lt/" target="_blank">python.lt / Python forumas</a></p>
      </div>

  </div>
{% endblock %}
