{% extends "2017/frontpage.html" %}

{% block subtitle %}{{ article.title }}{% endblock %}

{% block body %}
  <div class="wrapper">
      <div class="extra-space"></div>
      <h1>Informacija apie renginį</h1>

      <p>Po aštuonių metų pertraukos PyConLT grįžta į Kauną!</p>

      <p>Konferencija vyks 2017 m. gegužės 13 d., Kaune.</p>

      <p>Norėdami užtikrinti sklandžią konferencijos eigą, dalyvių ir pranešėjų
      prašome laikytis <a href="/elgesio-kodeksas.html">elgesio kodekso</a>.</p>

      <div class="extra-space"></div>

      <h1>Tapkite konferencijos rėmėju</h1>

      <p>Tapkite mūsų parteriais ir būkite matomas konferencijos metu su
      vienu iš siūlomų rėmimo paketu.</p>

      <p>&nbsp;</p>

      <p><a class="btn" href="/2017/sponsorship.html">Rėmimo paketai</a></p>

      <div class="extra-space"></div>

      <h1>Rėmėjai</h1>

      <div class="sponsors">
          <a href="http://revelsystems.com/lt/" target="_blank"><img src="/images/revel-logo.png"></a>
      </div>

      <div class="extra-space"></div>

      <div class="sponsors">
          <a href="https://www.versada.eu/" target="_blank"><img src="/images/versada-silver-logo.jpg" title="Versada"></a>
          <a href="http://pov.lt/" target="_blank"><img src="/images/pov-logo.jpg" title="Programmers of Vilnius"></a>
          <a href="http://nivc.ktu.edu/slt.htm" target="_blank"><img src="/images/KTU-Startup-space-silver-logo.jpg" title="KTU Startup Space"></a>
      </div>

      <div class="extra-space"></div>

      <h1>Kiti renginiai</h1>

      <div class="half-box">
          <h2>VilniusPy</h2>
          <p>Reguliarus renginys vykstantis kas mėnesį, darbo dieną, vakare po
          darbo.</p>
          <p>Daugiau informacijos: <a href="http://vilniuspy.lt" target="_blank">vilniuspy.lt</a>.</p>
      </div>

      <a name="bendruomene"></a>
      <div class="extra-space"></div>
      <h1><a href="#bendruomene">Python programuotojų bendruomenė internete</a></h1>

      <div class="half-box">
          <h2>Forumas</h2>
          <p><a href="https://python.lt/" target="_blank">python.lt / Python forumas</a></p>
      </div>
      <div class="half-box">
          <h2>Google+ grupė</h2>
          <p><a href="https://plus.google.com/communities/108018939812342947290" target="_blank">plus.google.com / Python Lietuva</a></p>
      </div>
      <div class="half-box">
          <h2>El. pašto grupė</h2>
          <p><a href="https://www.konferencijos.lt/mailman/listinfo/python" target="_blank">konf.lt / Python</a></p>
      </div>
      <div class="half-box">
          <h2>Django Lietuvoje</h2>
          <p><a href="https://www.facebook.com/groups/973463996100454/" target="_blank">Facebook grupė</a></p>
      </div>

  </div>
{% endblock %}
